@mixin bodyText {
    color: $grayishBlue;
    font-size: $font-normal;
    line-height: 1.5rem;
}

$mobileSize: 375px;
$tabletSize: 768px;
$desktopSize: 1024px;

@mixin mediaQuery($size) {
    @if ($size == mobile) {
        @media (min-width: $mobileSize) {
            @content;
        }
    }

    @if ($size == tablet) {
        @media (min-width: $tabletSize) {
            @content;
        }
    }

    @if ($size == desktop) {
        @media (min-width: $desktopSize) {
            @content;
        }
    }
}