@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}

.container {
  padding: 3rem 2rem;
  text-align: center;
}

.container.hero {
  background-image: url("/images/bg-header-mobile.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 2rem;
}

@media (min-width: 768px) {
  .container.hero {
    background-image: url("/images/bg-header-desktop.png");
    background-size: contain;
  }
}

.container.access_anywhere {
  padding: 3rem 2rem 0;
}

.container__logos {
  max-width: 1000px;
  margin: 0 auto;
}

.container .headline {
  max-width: 100%;
  padding: 1.5rem 0;
}

.container .headline h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #4c545d;
}

@media (min-width: 768px) {
  .container .headline h1 {
    font-size: 2.3rem;
  }
}

.container .headline h2 {
  font-size: 1.8rem;
  margin: 1rem 0;
  color: #4c545d;
}

.container .headline p {
  color: #9fabb2;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.container .content {
  margin: 2rem 0;
  position: relative;
}

@media (min-width: 768px) {
  .container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container .content .image img {
  max-width: 100%;
}

.container .content.features .image,
.container .content.features .text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.container .content.features .image img {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media (min-width: 768px) {
  .container .content.features .image img {
    position: absolute;
    top: 0;
    left: -400px;
  }
}

@media (min-width: 1024px) {
  .container .content.features .image img {
    left: -300px;
  }
}

@media (min-width: 1200px) {
  .container .content.features .image img {
    left: -200px;
  }
}

@media (min-width: 768px) {
  .container .content.features .text {
    text-align: left;
  }
  .container .content.features .text .card {
    padding-left: 2rem;
  }
}

.container .content .cards {
  margin: -1rem 0 0 -1rem;
}

.container .content .cards--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .content .card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  padding: 1rem 0;
  margin: 1rem 0 0 1rem;
}

.container .content .card h3 {
  font-size: 1.5rem;
  color: #4c545d;
  margin: 1rem 0;
}

.container .content .card p {
  color: #9fabb2;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  .container .content .card p {
    max-width: 350px;
  }
}

.container .content .card img {
  margin-bottom: 1rem;
  height: 35px;
}

.container .content .text-centered {
  margin: 0 auto;
}

.container .company-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -3rem 0 0 -3rem;
}

@media (min-width: 768px) {
  .container .company-logos {
    margin: -1.5rem 0 0 -1.5rem;
  }
}

.container .company-logos .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 180px;
          flex: 1 0 180px;
  margin: 3rem 0 0 3rem;
}

@media (min-width: 768px) {
  .container .company-logos .logo {
    margin: 1.5rem 0 0 1.5rem;
  }
}

.container .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0 0 -0.8rem;
  width: 100%;
  max-width: 500px;
}

.container .buttons a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.8rem;
  width: 100%;
  margin: 0.8rem 0 0.8rem 0.8rem;
  border-radius: 2rem;
  font-size: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.container .buttons a.ios {
  background-color: #26baa4;
  -webkit-box-shadow: 0 3px 0 0 #1f9f89;
          box-shadow: 0 3px 0 0 #1f9f89;
}

.container .buttons a.mac {
  background-color: #6173ff;
  -webkit-box-shadow: 0 3px 0 0 #5162db;
          box-shadow: 0 3px 0 0 #5162db;
}

.container .buttons a:hover {
  opacity: 0.7;
}

.footer {
  background-color: #f5f6f8;
  text-align: center;
  margin-top: 4rem;
}

.footer .footer-inner {
  max-width: 1158.3px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

@media (min-width: 768px) {
  .footer .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 2rem;
  }
}

.footer .footer-inner .menu {
  margin: 1rem 0;
}

.footer .footer-inner .menu .footer-logo {
  margin-bottom: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer .footer-inner .menu .footer-logo img {
  max-width: 63px;
}

@media (min-width: 768px) {
  .footer .footer-inner .menu .footer-logo {
    margin-bottom: 0;
  }
}

.footer .footer-inner .menu .menu-links {
  list-style: none;
}

.footer .footer-inner .menu .menu-links li {
  padding: 0.8rem 0;
}

.footer .footer-inner .menu .menu-links li a {
  text-decoration: none;
  color: #4c545d;
}

.footer .footer-inner .menu .menu-links li a:hover {
  color: #26baa4;
}

@media (min-width: 768px) {
  .footer .footer-inner .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  .footer .footer-inner .menu .footer-logo,
  .footer .footer-inner .menu .menu-links {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
}

.footer .footer-inner .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-inner .social-media .socmed {
  margin: 0 1rem;
  color: #4c545d;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer .footer-inner .social-media .socmed:hover i {
  color: #26baa4;
}

.attribution {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 11px;
  text-align: center;
  padding: 1rem 0;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=styles.css.map */